<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Flying Feather Educational Consult</title>
  
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link rel="shortcut icon" type="image/x-icon" href="../favicon-32x32.png" />

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container-fluid">

      <div class="row justify-content-center align-items-center">
        <div class="col-xl-11 d-flex align-items-center justify-content-between">
         
          <h1 class="logo"><a href="index.html" id="logo1"><img src="/img/feconlogo.png" alt="" class="img-fluid"></a> <a href="index.html">FECON</a> </h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          

          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
              <li><a class="nav-link scrollto" href="#featured-services">About</a></li>
              <li><a class="nav-link scrollto" href="#about">Our Programmes</a></li>
              <li><a class="nav-link scrollto " href="#contact">Contact us</a></li>
              <li><a class="nav-link  " href="/index/home/seminar">Seminars</a></li>
              <li><a class="nav-link scrollto" href="/index/home/login" ><font style=" padding: 7px; border:rgb(255, 255, 255); border: width 1px; border-style:solid;"> Login</font></a></li>
             
            
              <li><a class="nav-link scrollto" href="/index/home/register">REGISTER</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url(/img/educational.jpeg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">FECON <br> Flying Feather Educational Consult</h2>
                <p class="animate__animated animate__fadeInUp">Flying Feather Educational Consult is a Non-Governmental and Non-Profit organization. It seeks to promote Education and moral value among teenagers</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(/img/examinational.jpeg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">PURPOSE</h2>
                <p class="animate__animated animate__fadeInUp">The aim of these competitions is to turn academics into fun and games so as to propel students' interst in pursuing excellence thus discouraging examination malpractices and producing a better future</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Featured Services Section Section ======= -->
    <section id="featured-services">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3 style="color: white;">ABOUT</h3>
        </header>
        <div class="row">

          <div class="col-lg-4 box">
            <i class="bi bi-card-checklist"></i>
            <h4 class="title"><a href="">OUR GOAL</a></h4>
            <p>Our principal goal is to raise the standard of education in Nigeria</p>
          </div>

          <div class="col-lg-4 box box-bg">
            <i class="bi bi-binoculars "></i>
            <h4 class="title"><a href="">VISION</a></h4>
          <ul>
              <li>Raise the standard of Education</li>
              <li>Reduce Examination malpractices</li>
              <li>Encourage and Motivate the faithful pupils</li>
              <li>Re-orientate the erring ones</li>
            </ul>
          </div>

          <div class="col-lg-4 box">
            <i class="bi bi-briefcase"></i>
            <h4 class="title"><a href="">OUR TOOLS</a></h4>
            <p class="description"> <ul>
              <li>Inter school mass competition</li>
              <li>Inter Pupils interaction</li>
              <li>Motivation and Encouragement</li>
            </ul></p>
          </div>

        </div>
      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>OUR PROGRAMMES</h3>
        </header>

        <div class="row about-cols">
          <div class="col-md-1" data-aos="fade-up" data-aos-delay="300">
           
          </div>

          <div class="col-md-2" data-aos="fade-up" data-aos-delay="100">
            <div class="about-col">
              <div class="img">
                <img src="/img/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="bi bi-bar-chart"></i></div>
              </div>
              <h2 class="title"><a href="#">Online Class</a></h2>
              <p style="text-align:justify;">
                The online class is a support programme we design to help you study at your pace, speed and time. It is very flexible. There is at least a teacher online to answer your question per unit time
                
              </p>
            </div>
          </div>

          <div class="col-md-2" data-aos="fade-up" data-aos-delay="200">
            <div class="about-col">
              <div class="img">
                <img src="/img/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="bi bi-brightness-high"></i></div>
              </div>
              <h2 class="title"><a href="#">Champion Competition</a></h2>
              <p style="text-align:justify;">
                FECON organizes different competitions that boosts studnets performance and orientation
                <br>
                <br>
                <br>
                <br>
              </p>
            </div>
          </div>

          <div class="col-md-2" data-aos="fade-up" data-aos-delay="300">
            <div class="about-col">
              <div class="img">
                <img src="/img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              </div>
              <h2 class="title"><a href="#">Online Exams</a></h2>
              <p style="text-align:justify;">
                Online exam is designed to keep you in track. It is designed topic by topic to help you check your area of strenght and weakness
                <br>
                <br>
                <br>
                <br>
              </p>
            </div>
          </div>

       

          <div class="col-md-2" data-aos="fade-up" data-aos-delay="300">
            <div class="about-col">
              <div class="img">
                <img src="/img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              </div>
              <h2 class="title"><a href="#">Guidance and Counselling</a></h2>
              <p style="text-align:justify;">
                Here you are free to discuss with seasoned and experince expert who can guide you in various aspect of life. Your secret is treated with all confidentiality
                <br>
                <br>
                
              </p>
            </div>
          </div>

          <div class="col-md-1" data-aos="fade-up" data-aos-delay="300">
           
          </div>

        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
   

  

   

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h3>Contact Us</h3>
         
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <p>Head Office:</p>
              <address>2nd Floor Olawusi Building <br>
                Former Mainstream Bank,<br>
                Beside Alata Supermarket, <br>
                P.O. Box 70, Oja Titun<br>
                Ogbomoso Oyo State<br></address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+2347063095040">07063095040</a></p>
              <p><a href="tel:+2348124214864">08124214864</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mail:fecon2010@gmail.com">fecon2010@gmail.com</a></p>
            </div>
          </div>

        </div>

        

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>FECON</h3>
          <p>Flying Feather Educational Consult is a Non-Governmental and Non-Profit organization. It seeks to promote Education and moral value among teenagers</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              2nd Floor Olawusi Building <br>
              Former Mainstream Bank,<br>
              Beside Alata Supermarket, <br>
              P.O. Box 70, Oja Titun<br>
              Ogbomoso Oyo State<br>
              <strong>Phone:</strong> 07063095040<br>08124214864<br>
              <strong>Email:</strong> fecon2010@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="mail:fecon2010@gmail.com" class="email"> <i class="bi bi-envelope"></i></a>
              <a href="https://www.facebook.com/profile.php?id=100013530516148" class="facebook"><i class="bi bi-facebook"></i></a>

              <a href="https://api.whatsapp.com/send?phone=2348088835150&text=Good%20day%20Flying%20Feathers%20Educational%20Consult" class="whatsapp"><i class="bi bi-whatsapp"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Seminars</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">How to Study</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Improve your Memory</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Dealing with Difficult Teacher</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Befriending Mathematics</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Mastery of English</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- Vendor JS Files -->
  <script src="/vendor/purecounter/purecounter.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>