<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Flying Feather Educational Consult</title>
    
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">
  
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
   
   
  </head>
  
  <body>

   <div class="container" style="background-color: rgb(93, 93, 229); align-items: center; text-align: center; margin-top: 20px; margin-bottom: 0;">
<h3 style="color: white; font-weight: bolder; font-size: 30px;"> BRILLIANT AND INTELLIGENT STUDENT CHAMPIONS OLYMPIAD</h3>
<text style="color: white; padding-top: 0%;"> <i>intensifying the zeal...</i> </text>
   </div>


      <section id="contact" class="section-bg" >
        <div class="container" style="align-items: center;" data-aos="fade-down">
  
          <div class="section-header">
            <h3>{{year}} EXAMINATION SLIP</h3>
           
          </div>

          
        <div style="color: red; background-color: black;"> {{mv}}</div>

<div class="row">
  <div class="col-8">
    <p  style="font-size:20px; " ><b>Name: </b>{{fullName}}</p>
    <p style="font-size:20px; " ><b>Email: </b>{{email}}</p>
  <p style="font-size: 20px; " ><b>Personal Phone Number: </b>{{phoneNumber}}</p>
  <p style="font-size: 20px; " ><b>Gender: </b>{{gender}}</p>
  <p style="font-size: 20px; " ><b>Year: </b>{{year}}</p>


  
  </div>
<div class="col-4"> <img src="/uploads/{{image}}" class="rounded mx-auto md" style="height: 200px; width: 200px; "> 
<br>
<h2 style="padding: 20px;"><b>{{userId}}</b></h2>
</div></div>


<br>


<!-- Columns are always 50% wide, on mobile and desktop -->




<div class="row">
  <div class="col-12" style="font-size: 20px;" ><b>Subjects: </b>{{sub1}} &nbsp; {{sub2}} &nbsp; {{sub3}} &nbsp; {{sub4}} &nbsp; {{sub5}} &nbsp; {{sub6}} &nbsp; {{sub7}} &nbsp; {{sub8}}</p></div>

<div class="row">
  <div class="col-12" style="font-size:20px; " ><b>Examination Date: </b>{{examDate}}</p></div>
  <div class="col-12"><p style="font-size: 20px; " ><b>Examination Town: </b>{{state}}</p></div>
  <div class="col-12"><p style="font-size: 20px; " ><b>Examination Town: </b>{{examCity}}</p></div>
  <div class="col-12"><p style="font-size: 20px; " ><b>Examination Center: </b>{{center}}</p></div>

</div>

<div class="row" style="align-items: center; text-align: center;">
    <div class="col-4"></div>
    <div class="col-4">
    <p><b>NOTE:</b></p>
    <ol>
        <li>Please come on time, do not come late</li>
        <li>You are adviced to keep a copy of this slip for reference purpose</li>
        <li>Please come in the comanpany of a adult</li>


    </ol>
    <div class="col-4"></div>

    
<input type="submit" style="background-color:#076935; border: 0px; color: white; height: 40px; width: 90px;" onclick="window.print();return false;" value="Print" >
<a href="/api/user/logout" style="color: black; padding-left:30px ;" >Log out</a>



  
</div>
</div>



</div>

</script>


<script src="/vendor/purecounter/purecounter.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/waypoints/noframework.waypoints.js"></script>


<!-- Template Main JS File -->





<script src="/js/main.js"></script>
<script src="/js/userid.js"></script>

</body>

</html>

  </body