<form id="regForm"  action="/api/user/getsubjects/:userId" method="post"  role="form" class="php-email-form">
    <div style="text-align: center; background-color: rgb(196, 236, 212); color: rgb(18, 200, 28);"> {{message}}</div>

    <div class="row"> 

        <div class="col-md-1">
            <label style="font-weight:1000 ; padding-top: 1em;">User Id</label>
            </div>
        <div class="form-group col-md-9">

            <input type="text" name="userId" class="form-control" id="idee" required>
          </div>


  
      <div class="text-center col-md-1"><button type="submit" >Submit</button></div>
    </form>