
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Flying Feather Educational Consult</title>
    
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  
    <script>
      function populate(s1,s2){
      var s1 = document.getElementById(s1);
      var s2 = document.getElementById(s2);
      s2.innerHTML = "";
      
      if(s1.value == "Primary"){
          var optionArray = ["|","Primary One|Primary One","Primary Two|Primary Two","Primary Three|Primary Three", "Primary Four|Primary Four","Primary Five|Primary Five","Primary Six|Primary Six"];
      } else if(s1.value == "Junior Secondary"){
          var optionArray = ["|","JSS1|JSS1","JSS2|JSS2","JSS3|JSS3"];
      } else if(s1.value == "Senior Secondary"){
          var optionArray = ["|","SSS1|SSS1","SSS2|SSS2", "SSS3|SSS3"];
      }else if(s1.value == "Advanced"){
          var optionArray = ["|","100 Level|100 Level","200 Level|200 Level"];
      }
      for(var option in optionArray){
          var pair = optionArray[option].split("|");
          var newOption = document.createElement("option");
          console.log("value", )
          newOption.value = pair[0];
          newOption.innerHTML = pair[1];
          s2.options.add(newOption);
      }
  }
  
      
      
    </script>
    <script src="/js/lga.js"></script>
   
  
   
  </head>
  
  <body>
    <header id="header" class="fixed-top d-flex align-items-center ">
      <div class="container-fluid">
  
        <div class="row justify-content-center align-items-center">
          <div class="col-xl-11 d-flex align-items-center justify-content-between">
           
            <h1 class="logo"><a href="/" id="logo1"><img src="/img/feconlogo.png" alt="" class="img-fluid"></a> <a href="/">FECON</a> </h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            
  
            <nav id="navbar" class="navbar">
              <ul>
                <li><a class="nav-link scrollto" href="/index/home/login" ><font style=" padding: 7px; border:rgb(255, 255, 255); border: width 1px; border-style:solid;"> Login</font></a></li>
                   
                  
                <li><a class="nav-link scrollto" href="/index/home/register">REGISTER</a></li>
              </ul>
              <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
          </div>
        </div>
  
      </div>
    </header><!-- End Header -->
  
  
    <section id="contact" style="padding-top: 100px;" >
          <div class="container" data-aos="fade-down" >
     
            <div class="section-header">
              <h3>SEMINARS</h3>
             
            </div>
      
 
<div>
    <h4 style="font-weight: 700;">Spiritual Seminars</h4>



      <div class="card mb-4">
        <div class="card-body d-flex justify-content-between">
          <p style="font-size: 20px;" class="align-self-center">Practical Helps for soul winners</p>
        <div style=" font-size: 25px;">
          <a href="https://res.cloudinary.com/ddaoml7e8/raw/upload/v1686775453/nbbs/econ/PRACTICAL_HELPS_FOR_SOUL_WINNERS.docx" style="color: aliceblue;">
            <button class="btn btn-warning"> Download </button>
          </a>
          <a href="/index/pdf/pdf7" target="_blank" style="color: aliceblue;">
            <button class="btn btn-success">Read</button>
          </a>
          
          
        </div>
      </div>
        <div>

            
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body d-flex justify-content-between">
          <p style="font-size: 20px;" class="align-self-center">Preparation For And Participation In Mission</p>
        <div style=" font-size: 25px;">
          <a href="https://res.cloudinary.com/ddaoml7e8/raw/upload/v1686775454/nbbs/econ/PREPARATION_FOR_AND_PARTICIPATION_IN_MISSION.docx" style="color: aliceblue;">
            <button class="btn btn-warning"> Download </button>
          </a>
          <a href="/index/pdf/pdf8" target="_blank" style="color: aliceblue;">
            <button class="btn btn-success">Read</button>
          </a>
          
          
        </div>
      </div>
        <div>

            
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body d-flex justify-content-between">
          <p style="font-size: 20px;" class="align-self-center">Righteous Living In a Perverse Environment</p>
        <div style=" font-size: 25px;">
          <a href="https://res.cloudinary.com/ddaoml7e8/raw/upload/v1686775452/nbbs/econ/RIGHTEOUS_LIVING_IN_A_PERVERSE_ENVIRONMENT.docx" style="color: aliceblue;">
            <button class="btn btn-warning"> Download </button>
          </a>
          <a href="/index/pdf/pdf9" target="_blank" style="color: aliceblue;">
            <button class="btn btn-success">Read</button>
          </a>
          
          
        </div>
      </div>
        <div>

            
        </div>
      </div>

   

      <div class="card mb-4">
        <div class="card-body d-flex justify-content-between">
          <p style="font-size: 20px;" class="align-self-center">The Basics of Chritian Living</p>
        <div style=" font-size: 25px;">
          <a href="https://res.cloudinary.com/ddaoml7e8/raw/upload/v1686775453/nbbs/econ/THE_BASICS_OF_CHRISTIAN_LIVING.docx" style="color: aliceblue;">
            <button class="btn btn-warning"> Download </button>
          </a>
          <a href="/index/pdf/pdf11" target="_blank" style="color: aliceblue;">
            <button class="btn btn-success">Read</button>
          </a>
          
          
        </div>
      </div>
        <div>

            
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body d-flex justify-content-between">
          <p style="font-size: 20px;" class="align-self-center">The Cry Of The Lost And The Concern Of The Saints</p>
        <div style=" font-size: 25px;">
          <a href="https://res.cloudinary.com/ddaoml7e8/raw/upload/v1686775453/nbbs/econ/THE_CRY_OF_THE_LOST_AND_THE_CONCERN_OF_THE_SAINTS.docx" style="color: aliceblue;">
            <button class="btn btn-warning"> Download </button>
          </a>
          <a href="/index/pdf/pdf12" target="_blank" style="color: aliceblue;">
            <button class="btn btn-success">Read</button>
          </a>
          
          
        </div>
      </div>
        <div>

            
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body d-flex justify-content-between">
          <p style="font-size: 20px;" class="align-self-center">The Potency Of Our Spiritual Weapon 1</p>
        <div style=" font-size: 25px;">
          <a href="https://res.cloudinary.com/ddaoml7e8/raw/upload/v1686775454/nbbs/econ/THE_POTENCY_OF_OUR_SPIRITUAL_WEAPON1_1.docx" style="color: aliceblue;">
            <button class="btn btn-warning"> Download </button>
          </a>
          <a href="/index/pdf/pdf13" target="_blank" style="color: aliceblue;">
            <button class="btn btn-success">Read</button>
          </a>
          
          
        </div>
      </div>
        <div>

            
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body d-flex justify-content-between">
          <p style="font-size: 20px;" class="align-self-center">The Reality Of The Christian Life</p>
        <div style=" font-size: 25px;">
          <a href="https://res.cloudinary.com/ddaoml7e8/raw/upload/v1686775455/nbbs/econ/THE_REALITY_OF_THE_CHRISTIAN_LIFE.docx" style="color: aliceblue;">
            <button class="btn btn-warning"> Download </button>
          </a>
          <a href="/index/pdf/pdf14" target="_blank" style="color: aliceblue;">
            <button class="btn btn-success">Read</button>
          </a>
          
          
        </div>
      </div>
        <div>

            
        </div>
      </div>


    <h4 style="font-weight: 700;">Educational Seminars</h4>


    <div class="card mb-4">
      <div class="card-body d-flex justify-content-between">
        <p style="font-size: 20px;" class="align-self-center">Nine Letter Words</p>
      <div style=" font-size: 25px;">
        <a href="https://res.cloudinary.com/ddaoml7e8/raw/upload/v1686775454/nbbs/econ/CHOICE_OF_CAREER_web_new.docx" style="color: aliceblue;">
          <button class="btn btn-warning"> Download </button>
        </a>
        <a href="/index/pdf/pdf5" target="_blank" style="color: aliceblue;">
          <button class="btn btn-success">Read</button>
        </a>
        
        
      </div>
    </div>
      <div>

          
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body d-flex justify-content-between">
        <p style="font-size: 20px;" class="align-self-center">Physics, Work, Energy And Power</p>
      <div style=" font-size: 25px;">
        <a href="https://res.cloudinary.com/ddaoml7e8/raw/upload/v1686775452/nbbs/econ/PHYSICS_WORK_ENERGY_AND_POWER.docx" style="color: aliceblue;">
          <button class="btn btn-warning"> Download </button>
        </a>
        <a href="/index/pdf/pdf6" target="_blank" style="color: aliceblue;">
          <button class="btn btn-success">Read</button>
        </a>
        
        
      </div>
    </div>
      <div>

          
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body d-flex justify-content-between">
        <p style="font-size: 20px;" class="align-self-end">Choice of Career</p>
      <div style=" font-size: 25px;">
        <a href="https://res.cloudinary.com/ddaoml7e8/raw/upload/v1686775454/nbbs/econ/CHOICE_OF_CAREER_web_new.docx" style="color: aliceblue;">
          <button class="btn btn-warning"> Download </button>
        </a>
        <a href="/index/pdf/pdf1" target="_blank" style="color: aliceblue;">
          <button class="btn btn-success">Read</button>
        </a>
        
        
      </div>
    </div>
      <div>

          
      </div>
    </div>


    <div class="card mb-4">
      <div class="card-body d-flex justify-content-between">
        <p style="font-size: 20px;" class="align-self-center">Force</p>
      <div style=" font-size: 25px;">
        <a href="https://res.cloudinary.com/ddaoml7e8/raw/upload/v1686775452/nbbs/econ/FORCE.docx" style="color: aliceblue;">
          <button class="btn btn-warning"> Download </button>
        </a>
        <a href="/index/pdf/pdf3" target="_blank" style="color: aliceblue;">
          <button class="btn btn-success">Read</button>
        </a>
        
        
      </div>
    </div>
      <div>

          
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body d-flex justify-content-between">
        <p style="font-size: 20px;" class="align-self-center">Learn Speed Reading</p>
      <div style=" font-size: 25px;">
        <a href="https://res.cloudinary.com/ddaoml7e8/raw/upload/v1686775454/nbbs/econ/CHOICE_OF_CAREER_web_new.docx" style="color: aliceblue;">
          <button class="btn btn-warning"> Download </button>
        </a>
        <a href="/index/pdf/pdf4" target="_blank" style="color: aliceblue;">
          <button class="btn btn-success">Read</button>
        </a>
        
        
      </div>
    </div>
      <div>

          
      </div>
    </div>


    <div class="card mb-4">
      <div class="card-body d-flex justify-content-between">
        <p style="font-size: 20px;" class="align-self-center">Creativity - The Discipline of Innovation. By Drucker, Peter</p>
      <div style=" font-size: 25px;">
        <a href="https://res.cloudinary.com/ddaoml7e8/image/upload/v1686775457/nbbs/econ/Creativity_-_The_Discipline_of_Innovation._By_Drucker_Peter.pdf" style="color: aliceblue;">
          <button class="btn btn-warning"> Download </button>
        </a>
        <a href="/index/pdf/pdf2" target="_blank" style="color: aliceblue;">
          <button class="btn btn-success">Read</button>
        </a>
        
        
      </div>
    </div>
      <div>

          
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body d-flex justify-content-between">
        <p style="font-size: 20px;" class="align-self-center">Self-Discipline in 10 Days</p>
      <div style=" font-size: 25px;">
        <a href="https://res.cloudinary.com/ddaoml7e8/image/upload/v1686775455/nbbs/econ/Self-Discipline_in_10_Days.pdf" style="color: aliceblue;">
          <button class="btn btn-warning"> Download </button>
        </a>
        <a href="/index/pdf/pdf10" target="_blank" style="color: aliceblue;">
          <button class="btn btn-success">Read</button>
        </a>
        
        
      </div>
    </div>
      <div>

          
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body d-flex justify-content-between">
        <p style="font-size: 20px;" class="align-self-center">The Science of Self Discipline</p>
      <div style=" font-size: 25px;">
        <a href="https://res.cloudinary.com/ddaoml7e8/image/upload/v1686775456/nbbs/econ/The_Science_of_Self_Discipline.pdf" style="color: aliceblue;">
          <button class="btn btn-warning"> Download </button>
        </a>
        <a href="/index/pdf/pdf15" target="_blank" style="color: aliceblue;">
          <button class="btn btn-success">Read</button>
        </a>
        
        
      </div>
    </div>
      <div>

          
      </div>
    </div>
      
    </div>
  </div>
  
  


  
  </section>
  
  
  <script src="/vendor/purecounter/purecounter.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/waypoints/noframework.waypoints.js"></script>
  
  
  <!-- Template Main JS File -->
  
  
  
  
  
  <script src="/js/main.js"></script>
  <script src="/js/userid.js"></script>
  
  </body>
  
  </html>
  
  
  